{% extends "base.html" %}

{% block contenido %}
  <div id="main-content">
    <article class="detalle-evento">
    <p class="titulo-evento">Modificando {{ usuario.nombre }}</p>

    <section class="usuario-evento">
        <form method="post" action="modificar_datos.php">
            <input type="hidden" name="modificarDatosSubmit">
            <input type="hidden" name="id" value="{{ usuario.id }}">

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" value="{{ usuario.nombre }}" required>

            <label for="login">Login</label>
            <input type="text" name="login" value="{{ usuario.login }}" required>

            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Dejar vacía para no modificar">

            {% if session.tipoUsuario == 3 %}
                <p>El usuario es: {{ usuario.tipoUsuario }}</p>
                <label for="tipoUsuario">Tipo de usuario</label>
                <select name="tipoUsuario" required>
                    <option value="100">No modificar</option>
                    <option value="0">Usuario registrado</option>
                    <option value="1">Moderador</option>
                    <option value="2">Gestor de contenido</option>
                    <option value="3">Administrador</option>
                </select>
            {% else %}
                <input type="hidden" name="tipoUsuario" value='0'>
            {% endif %}

            <input type="submit" value="Modificar">
    </section>
    
    </article>
  </div>
{% endblock %}
