{% extends "base.html" %}

{% block contenido %}
  <div id="main-content-evento">
    <article class="detalle-evento">
    <p class="titulo-evento">{{ evento.nombre }}</p>
    <p class="organizador">{{ evento.organizador }}, <span class="fecha">{{ evento.fecha }}</span></p>

    <img src="{{ evento.imagen }}" alt="Imagen de {{ evento.nombre }}">

    <p>{{ evento.descripcion }}</p>

    {% if tipoUsuario == 2 %}

    <section>
        <ul class="gestion-eventos">
            <li>
              <form action="eventos.php" method="POST">
                <button class="elimina" onclick="return confirm('¿Está seguro de que quiere borrar el evento {{ evento.nombre }}?');"><i class="fa fa-trash fa-2x"></i></button>
                <input type="hidden" value="{{ evento.id }}" name="borrar_evento"/>
              </form>
            </li>
      
            <li>
              <form action="eventos.php" method="POST">
                  <button class="modifica "><i class="far fa-edit fa-2x"></i> </button>
                  <input type="hidden" value="{{ evento.id }}" name="modificar_evento"/>
              </form>
            </li>
        </ul>
    </section>
    
    {% endif %}
    <div id="compartir">
        <p>Compartir</p>
        <a href="evento_imprimir.html"><img src="img/redes/imprimir.png"></a>
        <a onclick="openWindow('Facebook', '{{ evento.imagen }}')"><img src="img/redes/facebook.png"></a>
        <a onclick="openWindow('Twitter', '{{ evento.imagen }}')"><img src="img/redes/twitter.png"></a>
        <a href="https://www.pinterest.com/fender.conciertos"><img src="img/redes/pinterest.png"></a>
        <a href="https://www.instagram.com/sala.fender"><img src="img/redes/instagram-c.png"></a>

        <div id="boton-mostrar-comentarios">
            <img id="mostrar_comentarios" onclick="ParaComentarios();return false;" alt="Mostrar Comentarios" src="img/comentarios.png" />
        </div>
    </div>
    </article>
    {% include "comentarios.html" %}
  </div>
{% endblock %}
